*{
  margin: 0;
  padding: 0;
  outline: 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
ol,ul{
  list-style-type: none;
}
img{
  vertical-align: middle;
  border: 0;
}
body{
  font-family: 'Ubuntu', sans-serif;
  background: #060818;
}
/* ============================================================================================
                                             Navbar Part Css 
=============================================================================================== */
.sidebar{
  height: 100vh;
  border-right: 1px solid #0e1726;
}
.button-border{
  border-bottom: 1px solid #0e1726;
  letter-spacing: 1px;
  font-weight: 600;
}
.title{
  color: #506690;
  transition: all linear .3s;
}
.title:hover{
  color: #e0e6ed;
}
.nav-link i{
  transition: all linear .3s;
}
.navbar-light .navbar-nav .nav-link {
  color: #506690;
  transition: all linear .3s;
  font-weight: 600;
  padding: 12px;
}
.nav-item:hover i {
  color: #e0e6ed;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #e0e6ed;
  background: #3b3f5c;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  border-radius: 6px;
}
.navbar-light .navbar-nav .nav-link:focus{
  color: #506690;
}
.current{
  background: rgba(96, 125, 139, 0.54);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  border-radius: 6px;
  color: #fafafa!important;
  transition: all linear .3s;
}
.current:hover{
  color: #e0e6ed;
  background: #3b3f5c;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  border-radius: 6px;
  transform: translateY(-1px);
}
.bg-dark{
  background-color: #060818!important;
  border-bottom: 1px solid #0e1726;
  padding-top: 15px;
  padding-bottom: 9px;
}
.nav-title{
  color: #506690;
}
.mr{
  padding: 0!important;
  margin-left: 20px;
}
.mr:hover{
  background: transparent!important;
}
.search-input{
  background: #0e1726;
  border-top: 1px solid #506690;
  border-bottom: 1px solid #506690;
  border-left: 1px solid #506690;
  border-right: transparent;
  border-radius: 6px;
  transition: all .4s;
}
.search-input:focus{
  background: transparent;
  box-shadow: none;
  border-top: 1px solid #506690;
  border-bottom: 1px solid #506690;
  border-left: 1px solid #506690;
  border-radius: 6px;
}
.search-button{
  background: #0e1726;
  border-top: 1px solid #506690;
  border-bottom: 1px solid #506690;
  border-right: 1px solid #506690;
  border-left: transparent;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -3px;
  color: #506690;
}
.btn.focus, .btn:focus {
  box-shadow: none;
  border-top: 1px solid #506690;
  border-bottom: 1px solid #506690;
  border-right: 1px solid #506690;
}

.icon-parent{
  position: relative;
}
.icon-bullet::after{
  position: absolute;
  content: "";
  top: 0px;
  left: 26px;
  width: 12px;
  height: 12px;
  background-color: #3b3f5c;
  border-radius: 50%;
}
.modal-content{
  background-color: #060818;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
  border-radius: 6px;
  border: 1px solid #0e1726;
  color: #e0e6ed;
}
.modal-header{
  border-bottom: 1px solid #0e1726;
}
.modal-footer{
  border-top: 1px solid #0e1726;
}
.close:not(:disabled):not(.disabled):hover {
  color: #506690;
  opacity: 1;
}
.close{
  text-shadow: none;
  color: #e0e6ed;
}
.modal-title{
  color: #e0e6ed;
}
.modal-footer .btn-success {
  color: #e0e6ed;
  background-color: transparent;
  border-color: #0e1726;
  transition: all linear .3s;
}
.modal-footer .btn-success:hover {
  color: #e0e6ed;
  background-color: #e2a03f;
  border-color: #e2a03f;
}
.modal-footer .btn{
  border-radius: 30px;
  font-size: 14px;
  padding: 8px 15px;
  font-weight: 400;
  border: 2px solid #0e1726;
}
.modal-footer .btn-danger {
  color: #e0e6ed;
  background-color: transparent;
  border-color: 2px solid #0e1726;
  transition: all linear .3s;
}
.modal-footer .btn-danger:hover{
  color: #e0e6ed;
  background-color: #009688;
  border-color: #009688;
}

/* ===============================================================================================
                                          Card Part Css
================================================================================================== */
.card-common{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),
              0 1px 18px 0 rgba(0,0,0,.12),
              0 3px 5px -1px rgba(0,0,0,.2);
  background: #0e1726;  
  border-radius: 8px;          
  transition: all .4s;            
}
.card-common:hover{
  transform: translateY(-1px);
}
.card-common h5{
  color: #e0e6ed;
  font-weight: 500;
  font-size: 22px;
}
.card-common h3{
  color: #e0e6ed;
  font-weight: 400;
  font-size: 18px;
}
.card-common span{
  color: #888ea8;
}
.card-common .card-footer i{
  color: #888ea8;
}
.one{
  background-color: #e2a03f;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fafafa;
  font-size: 22px;
  border-radius: 50%;
}
.two{
  background-color: #5c1ac3;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fafafa;
  font-size: 22px;
  border-radius: 50%;
}
.three{
  background-color: #e7515a;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fafafa;
  font-size: 22px;
  border-radius: 50%;
}
.four{
  background-color: #1b55e2;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fafafa;
  font-size: 22px;
  border-radius: 50%;
}
.card-footer{
  border-top: 1px solid #3b3f5c47;
}

/* ===============================================================================================
                                               Table Part Css
================================================================================================== */
.table thead th {
  border-bottom: none;
  background: #191e3a;
  color: #25d5e4;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
.table-head-left{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.table-head-right{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.table td{
  font-weight: 400;
}
.table-common .btn-info {
  color: #009688;
  background-color: transparent;
  border-color: #009688;
}
.table-common .btn{
  font-size: 12px;
}
.table-common .badge-success {
  color: #8dbf42;
  background-color: transparent;
  border: 1px solid #8dbf42;
  font-size: 12px;
  font-weight: 400;
  padding: 7px 10px;
}
.table-common .badge-danger {
  color: #e7515a;
  background-color: transparent;
  border: 1px solid #e7515a;
  font-size: 12px;
  font-weight: 400;
  padding: 7px 10px;
}
.table td, .table th {
  border-top: none;
  vertical-align: 0;
  color: #888ea8;
}
.table-common .table tr{
  transition: all .4s;
}
.table-common .table tr:hover td{
  transform: translateY(-1px);
  color: #bfc9d4;
  cursor: pointer;
}
.table-common .table tr:hover .table-head-hover{
  color: #bfc9d4;
}
.table-common{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),
              0 1px 18px 0 rgba(0,0,0,.12),
              0 3px 5px -1px rgba(0,0,0,.2);
  background: #0e1726;  
  border-radius: 8px;
  padding: 18px;          
}
.table-common h3{
  color: #e0e6ed;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.page-item:first-child .page-link {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.page-item:last-child .page-link {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.page-link{
  color: #506690;
  background-color: transparent;
  border: 1px solid #3b3f5c47;
  transition: all linear .3s;
}
.page-item.active .page-link {
  color: #e0e6ed;
  background-color: #3b3f5c;
  border-color: #3b3f5c;
}
.page-link:focus {
  box-shadow: none;
}
.page-link:hover {
  color: #e0e6ed;
  background-color: #009688;
  border-color: #009688;
}

/* ============================================================================================
                                        Progress Bar / Task List Part Css
=============================================================================================== */
.progressBar{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),
              0 1px 18px 0 rgba(0,0,0,.12),
              0 3px 5px -1px rgba(0,0,0,.2);
  background: #0e1726;  
  border-radius: 8px;
}
.progress{
  background-color: #191e3a;
  border-radius: 16px;
}
.bg-warning{
  background-color: #1b55e2;
  background-image: linear-gradient(to right, #7579ff 0%, #b224ef 100%);
  border-radius: 16px;
}
.bg-success{
  background-color: #1b55e2;
  background-image: linear-gradient(to right, #3cba92 0%, #0ba360 100%);
  border-radius: 16px;
}
.bg-danger{
  background-color: #1b55e2;
  background-image: linear-gradient(to right, #f09819 0%, #ff5858 100%);
  border-radius: 16px;
}
.bg-info{
  background: rgb(94,221,206);
  background: linear-gradient(90deg, rgba(94,221,206,1) 0%, rgba(53,232,227,1) 35%, rgba(25,176,208,1) 100%);
  border-radius: 16px;
}
.progressBar h4{
  color: #e0e6ed;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 1px;
}
.progressBar h6{
  color: #888ea8;
}
.task-border{
  transition: all linear .3s;
  cursor: pointer;
}
.task-border:hover{
  border-left: 3px solid;
  border-image: radial-gradient(rgb(208, 150, 147), rgb(199, 29, 111)) 1;
}

.task-list{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),
              0 1px 18px 0 rgba(0,0,0,.12),
              0 3px 5px -1px rgba(0,0,0,.2);
  background: #0e1726;  
  border-radius: 8px;
  padding-bottom: 10px;
}
.bg-white{
  background-color: #191e3a!important;
  border-radius: 16px;
  transition: all linear .3s;
}
.bg-white:hover{
  border-radius: 0px!important;
}
.text-success{
  color: #009688!important;
  font-size: 18px;
}
.text-danger{
  color: #e7515a!important;
  font-size: 16px;
}

.task-list h4{
  color: #e0e6ed;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 1px;
}
.task-list .task-list-title{
  color: #bfc9d4;
  font-size: 16px;
}

input[type='checkbox'] {
	margin-top: -30px;
}

input[type='checkbox'] {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	width: 13px;
	height: 13px;
	margin: 0;
	margin-right: 1px;
	display: block;
	float: left;
	position: relative;
  cursor: pointer;
}

input[type='checkbox']:after {
	content: "";
	vertical-align: middle;
	text-align: center;
	line-height: 13px;
	position: absolute;
	cursor: pointer;
	height: 13px;
	width: 13px;
	left: 0;
	top: 0;
	font-size: 10px;
	-webkit-box-shadow: inset 0 1px 1px #009688, 0 1px 0 #009688;
	-moz-box-shadow: inset 0 1px 1px #009688, 0 1px 0 #009688;
	box-shadow: inset 0 1px 1px #009688, 0 1px 0 #009688;
	background: #009688;
}

input[type='checkbox']:hover:after, input[type='checkbox']:checked:hover:after {
	background: #009688;
	content: '\2714';
	color: #fff;
}

input[type='checkbox']:checked:after {
	background: #009688;
	content: '\2714';
	color: #fff;
}

/* ==============================================================================================
                                        Activities / Quick Post Part Css
================================================================================================= */
.acti{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),
              0 1px 18px 0 rgba(0,0,0,.12),
              0 3px 5px -1px rgba(0,0,0,.2);
  background: #0e1726;  
  border-radius: 8px;
  padding: 25px 20px;
  margin: 25px 0;
}
.acti .card{
  background-color: #0e1726;
  border: none;
  border-radius: 0;
}
.acti .card-header{
  border-bottom: none;
  border-radius: 0;
  background-color: #0e1726;
}
.acti span{
  font-size: 16px;
  font-weight: 700;
  color: #e0e6ed;
}
.acti h4{
  color: #fafafa;
  font-size: 20px;
  font-weight: 400;
}
.acti .btn{
  background-color: rgb(26, 28, 45);
  border-radius: 30px;
}
.acti .btn.focus, .btn:focus {
  border: none;
}
.acti .card-body p{
  color: #bfc9d4;
  font-size: 16px;
  font-weight: 400;
}
.post{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),
              0 1px 18px 0 rgba(0,0,0,.12),
              0 3px 5px -1px rgba(0,0,0,.2);
  background: #0e1726;  
  border-radius: 8px;
  margin-top: 2px;
}
.post h5{
  color: #fafafa;
  font-size: 20px;
  font-weight: 400;
}
.post .text-success{
  color: #e7515a!important;
}
.post .text-info{
  color: #009688!important;
}
.post .text-primary{
  color: #e2a03f!important;
}
.post .h6{
  color: #bfc9d4;
}
.post .form-control{
  background-color: #0e1726;
  border-radius: 30px;
  border: 1px solid #3b3f5c47;
  padding: 20px 16px!important;
}
.post .btn{
  background-color: #1b55e2;
  background-image: linear-gradient(to right, #f09819 0%, #ff5858 100%);
  border-radius: 30px;
  border: none;
}
.post .form-control::placeholder{
  color: #bfc9d4;
  font-size: 16px;
}
.post .btn:hover{
  background-color: #1b55e2;
  background-image: linear-gradient(to right, #d09693 0%, #c71d6f 100%);
}
.post .card-bg{
  background-color: transparent;
  border: 1px solid #3b3f5c47;
  border-radius: 8px;
}
.post .card-bg .text-danger{
  color: #e0e6ed!important;
  background-color: #e7515a;
  box-shadow: 0 10px 20px -10px #e7515a;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  font-size: 24px;
  margin-top: 20px!important;
}
.post .card-bg .text-info{
  color: #e0e6ed!important;
  background-color: #e2a03f;
  box-shadow: 0 10px 20px -10px #e2a03f;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  font-size: 24px;
  margin-top: 20px!important;
}
.post .card-bg p{
  color: #fafafa;
}

/* =========================================================================================
                                            Footer Part Css
============================================================================================ */
.footer{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
  background: #0e1726;
  padding-top: 20px;
  margin-top: 20px;
}
.footer .text-dark{
  color: #e0e6ed!important;
  font-size: 16px;
  font-weight: 500;
  transition: all linear .3s;
}
.footer .text-dark:hover{
  color: #f09819!important;
}
.footer p{
  color: #e0e6ed;
  font-size: 16px;
  font-weight: 500;
}


@media(max-width: 768px){
  .sidebar{
    position: static;
    height: auto;
  }
  .top-navbar{
    position: static;
  }
  .icon-bullet::after{
    top: 11px;
    left: 6px;
  }
  .mr{
    margin-left: 0;
    margin-top: 11px;
  }
  .w-75 {
    width: 95%!important;
  }
}